#ajout_media {
    border-style: dashed;
    margin-bottom: 10px;
    padding-left: 6px;
}
.themedia {
    border-style: inset;
    padding-left: 0px;
    border-width: 1px;
    border-color: brown;
    margin: 11px 10px 0px 2px;
    padding: 0px;
}

.inthemedia{
    margin: 11px 10px 0px 2px;
}

#formulaire_seance{
   width:800px;
   margin:auto;
}

#formulaire_seance .row{
    padding-left: 30px;
}

label {
    margin-top: 10px;
}