
#ajout_media {
    border-style: dashed;
    margin-bottom: 10px;
    padding-left: 6px;
}
.themedia {
    margin: 10px 10px 0 25px;
    padding: 0px;
}
.inthemedia {
    margin: 11px 10px 0 2px;
}
#formulaire_seance {
    margin: auto;
    width: 800px;
}
#formulaire_seance .row {
    padding-left: 30px;
}
label {
    margin-top: 10px;
}
