
{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block content %}

<div id="formulaire" class="well" style="width:800px">
<div class="page-header"><h3>Ajouter un sponsor</h3></div>      
<form action="{{ path('sponsor_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
        
        <br>
       <button class="btn btn-primary" type="submit">Valider</button>
       <a class="btn" href="{{ path('sponsor') }}"><i class="icon-arrow-left"></i> Revenir a la liste</a>   
       
</form>
    
</div>

<script>
$("#idautres").addClass("active");
</script>

{% endblock %}