
body {
    margin: auto;
    width: 1024px;
}
header {
    margin-left: 20px;
}
.nav {
    background-image: url("../images/menu.jpg");
    text-align: center;
    width: 1200px;
}
#idhome img {
    width: 23px;
}
#idhome a {
    margin: -4px 0 0 -4px;
}
#idfestival {
    margin-left: -2px;
    width: 140px;
}
#idsalles {
    margin-left: 2px;
    width: 143px;
}
#idfilms {
    margin-left: 2px;
    width: 143px;
}
#idlesseances {
    margin-left: 2px;
    width: 142px;
}
#idlesanims {
    margin-left: 2px;
    width: 143px;
}
#idportfolio {
    margin-left: 2px;
    width: 142px;
}
#iddocuments {
    margin-left: 2px;
    width: 143px;
}
#idinfos {
    margin-left: 2px;
    width: 142px;
}
#fichefilm {
    margin-top: 30px;
}
#bloccentral {
    background-color: #FFFFFF;
    height: 714px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    width: 1000px;
}
#nuage {
    margin-top: 0;
    position: relative;
}
#nuage1 {
    margin-top: 0;
    position: relative;
}
#rosace {
    margin-left: 926px;
    margin-top: -122px;
    position: relative;
    z-index: 4;
}
#lp1 {
    margin-left: -950px;
    margin-top: -1028px;
}
#lp2 {
    margin-left: 13px;
    margin-top: -997px;
}
#lp3 {
    margin-left: 9px;
    margin-top: -971px;
}
#lp4 {
    margin-left: 13px;
    margin-top: -954px;
}
#lp5 {
    margin-left: 13px;
    margin-top: -940px;
}
#lp6 {
    margin-left: 13px;
    margin-top: -931px;
}
#lp7 {
    margin-left: 13px;
    margin-top: -930px;
}
#lp8 {
    margin-left: 13px;
    margin-top: -934px;
}
#lp9 {
    margin-left: 13px;
    margin-top: -948px;
}
#lp10 {
    margin-left: 13px;
    margin-top: -966px;
}
#lp11 {
    margin-left: 13px;
    margin-top: -992px;
}
#lp12 {
    margin-left: 13px;
    margin-top: -1026px;
}
.lp {
    cursor: pointer;
    position: relative;
    z-index: 3;
}
#jour1 {
    margin-left: 141px;
    margin-top: -637px;
    position: absolute;
    z-index: 2;
}
#jour0 {
    margin-left: 145px;
    margin-top: -693px;
    position: absolute;
    z-index: 2;
}
#fondhome {
    margin-left: 0;
    margin-top: -123px;
    position: relative;
    z-index: 3;
}
#fondville {
    margin-left: 6px;
    margin-top: -500px;
    position: relative;
    z-index: 2;
}
#fondrose {
    margin-left: 6px;
    margin-top: -700px;
    position: relative;
    z-index: 1;
}
#infoseance {
    background: linear-gradient(to bottom, #FEFCEA 28%, #F1DA36 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin: 20px 15px 10px 20px;
    padding: 15px;
    position: absolute;
    visibility: hidden;
    width: 322px;
    z-index: 3;
}
#infoseance img {
    float: left;
    margin-top: 2px;
}
#infoseance p {
    margin-bottom: 0;
    margin-left: 119px;
}
#infoseance .pfilm {
    padding-top: 19px;
}
#infoseance .pcine {
    clear: both;
}
.afflesfilms {
    margin: 10px;
    position: relative;
}
#pop {
    height: 192px;
    margin-right: -10px;
    padding: 0 0 5px 10px;
    position: absolute;
    width: 298px;
}
#pop h1 {
    font-family: cursive;
    padding-top: 10px;
    text-align: center;
}
#pop h4 {
    font-family: fantasy;
}
#pop h3 {
}
#ligneVerte {
    background-color: #38A962;
    height: 3px;
}
#fanseances {
    margin-left: -1px;
    max-width: 150%;
}
#idseance {
    margin-left: 10px;
    margin-top: 5px;
}
.spanS {
    width: 680px;
}
#regret {
    font-family: cursive;
    font-size: x-large;
    margin: 77px 10px 10px 30px;
}
.jseance {
    width: 110px;
}
.hseance {
    width: 30px;
}
.cseance {
    width: 100px;
}
.lh {
    background-image: url("../images/ligneHor.jpg");
    clear: both;
    height: 5px;
    margin: -23px 1px 0 0;
    width: 994px;
}
.lv {
    background-image: url("../images/ligneVer.jpg");
    height: 498px;
    margin-left: 0;
    width: 6px;
}
.court {
    clear: both;
    margin-left: -50px;
}
.court img {
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}
.court h4 {
    margin: 0 0 9px -2px;
    padding: 0;
}
.court p {
    font-size: 18px;
    margin-top: 5px;
}
.court h2 {
    color: #008000;
    font-family: cursive;
    margin: 18px 0 0;
}
#blocsbas {
}
#basgauche {
    background-color: #FFFFFF;
    margin-left: -9px;
    width: 302px;
}
#basgauche img {
    margin-bottom: 5px;
    margin-left: 43px;
    margin-top: 8px;
}
#basmilieu {
    background-color: #FFFFFF;
    margin-left: 0;
    width: 394px;
}
#basdroit {
    background-color: #FFFFFF;
    border: 1px solid;
    height: 497px;
    margin-left: 8px;
    padding: 2px 5px;
    width: 299px;
}
.nav {
    font-family: menu;
    font-size: 18px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #000000;
}
.dropdown-menu {
    text-align: left;
}
#blocphoto {
    background-image: url("../images/index/fondphoto.png");
    height: 339px;
    margin-left: 39px;
    margin-top: 103px;
    width: 323px;
}
#miss {
    margin: -725px 9px 20px 38px;
    position: relative;
}
#rh {
    margin-left: 0;
    margin-top: -700px;
    position: relative;
}
#rb {
    margin-left: 50px;
    margin-top: -73px;
    position: relative;
}
#bulle {
    margin-left: -21px;
    margin-top: -832px;
    position: relative;
}
#phind {
    margin: 16px 12px 12px 16px;
    width: 281px;
}
#legind {
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}
#diapo {
    background-color: #FFFFFF;
    position: absolute;
    visibility: hidden;
    width: 1200px;
}
.slide img {
    display: block;
    margin: 5px auto 0;
}
.ph {
    cursor: pointer;
}