
body {
    margin: auto;
    width: 1200px;
}
header {
    margin-left: 20px;
}
.nav {
    background-image: url("../images/menu.jpg");
    text-align: center;
    width: 1200px;
}
#idhome img {
    width: 23px;
}
#idhome a {
    margin: -4px 0 0 -4px;
}
#idfestival {
    margin-left: -2px;
    width: 140px;
}
#idsalles {
    margin-left: 2px;
    width: 143px;
}
#idfilms {
    margin-left: 2px;
    width: 143px;
}
#idlesseances {
    margin-left: 2px;
    width: 142px;
}
#idlesanims {
    margin-left: 2px;
    width: 143px;
}
#idportfolio {
    margin-left: 2px;
    width: 142px;
}
#iddocuments {
    margin-left: 2px;
    width: 143px;
}
#idinfos {
    margin-left: 2px;
    width: 142px;
}
#fichefilm {
    margin-top: 30px;
}
#bloccentral {
    background-color: #FFFFFF;
    margin-left: 0;
    margin-top: -20px;
    width: 1200px;
}
#nuage {
    margin-top: 0;
    position: relative;
}
#rosace {
    margin-left: 863px;
    margin-top: 48px;
    position: relative;
    z-index: 2;
}
#lp1 {
    margin-left: 75px;
    margin-top: -1086px;
}
#lp2 {
    margin-left: 54px;
    margin-top: -1052px;
}
#lp3 {
    margin-left: 56px;
    margin-top: -1025px;
}
#lp4 {
    margin-left: 50px;
    margin-top: -1000px;
}
#lp5 {
    margin-left: 51px;
    margin-top: -987px;
}
#lp6 {
    margin-left: 64px;
    margin-top: -979px;
}
#lp7 {
    margin-left: 45px;
    margin-top: -980px;
}
#lp8 {
    margin-left: 53px;
    margin-top: -983px;
}
#lp9 {
    margin-left: 58px;
    margin-top: -997px;
}
#lp10 {
    margin-left: 53px;
    margin-top: -1017px;
}
#lp11 {
    margin-left: 49px;
    margin-top: -1044px;
}
#lp12 {
    margin-left: 53px;
    margin-top: -1081px;
}
.lp {
    cursor: pointer;
    position: relative;
    z-index: 2;
}
#jour1 {
    margin-left: 141px;
    margin-top: -637px;
    position: absolute;
    z-index: 2;
}
#jour0 {
    margin-left: 145px;
    margin-top: -693px;
    position: absolute;
    z-index: 2;
}
#fondhome {
    margin-left: -13px;
    margin-top: -145px;
    position: relative;
    z-index: 1;
}
#infoseance {
    background: linear-gradient(to bottom, #FEFCEA 28%, #F1DA36 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    position: absolute;
    visibility: hidden;
    width: 322px;
    z-index: 2;
}
#infoseance img {
    float: left;
    margin-top: 2px;
}
#infoseance p {
    margin-left: 119px;
}
#infoseance .pfilm {
    padding-top: 19px;
}
#infoseance .pcine {
    clear: both;
}
.afflesfilms {
    margin: 10px;
    position: relative;
}
#spirale {
    margin: 402px 199px 0;
    position: absolute;
}
#pop {
    height: 192px;
    margin-right: -10px;
    padding: 0 0 5px 10px;
    position: absolute;
    width: 298px;
}
#pop h1 {
    font-family: cursive;
    padding-top: 10px;
    text-align: center;
}
#pop h4 {
    font-family: fantasy;
}
#pop h3 {
}
#ligneVerte {
    background-color: #38A962;
    height: 3px;
}
#fanseances {
    margin-left: -1px;
    max-width: 150%;
}
#idseance {
    margin-left: 10px;
    margin-top: 5px;
}
.spanS {
    width: 680px;
}
#regret {
    font-family: cursive;
    font-size: x-large;
    margin: 77px 10px 10px 30px;
}
.jseance {
    width: 110px;
}
.hseance {
    width: 30px;
}
.cseance {
    width: 100px;
}
.lh {
    background-image: url("../images/ligneHor.jpg");
    clear: both;
    height: 6px;
    margin: 0 1px 8px 41px;
    width: 1103px;
}
.lv {
    background-image: url("../images/ligneVer.jpg");
    height: 553px;
    margin-left: 0;
    width: 6px;
}
.court {
    clear: both;
    margin-left: -50px;
}
.court img {
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}
.court h4 {
    margin: 0 0 9px -2px;
    padding: 0;
}
.court p {
    font-size: 18px;
    margin-top: 5px;
}
.court h2 {
    color: #008000;
    font-family: cursive;
    margin: 18px 0 0;
}
#blocsbas {
}
#basgauche {
    background-color: #FFFFFF;
    margin-left: 20px;
    width: 397px;
}
#basgauche img {
    margin-left: 43px;
}
#basmilieu {
    background-color: #FFFFFF;
    margin-left: 0;
    width: 394px;
}
#basdroit {
    background-color: #FFFFFF;
    border: 1px solid;
    height: 553px;
    margin-left: 8px;
    padding: 2px 5px;
    width: 367px;
}
.nav {
    font-family: menu;
    font-size: 18px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #000000;
}
.dropdown-menu {
    text-align: left;
}
#blocphoto {
    background-image: url("../images/fondphoto.jpg");
    background-repeat: repeat;
    border: 1px solid;
    height: 339px;
    margin-left: 39px;
    margin-top: 113px;
    width: 314px;
}
#miss {
    margin: -709px 9px 20px 38px;
    position: relative;
}
#rh {
    margin-left: 34px;
    margin-top: -700px;
    position: relative;
}
#rb {
    margin-left: 50px;
    margin-top: -73px;
    position: relative;
}
#bulle {
    margin-left: -21px;
    margin-top: -832px;
    position: relative;
}
#phind {
    margin: 10px;
    width: 281px;
}
#legind {
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}
#diapo {
    background-color: #FFFFFF;
    position: absolute;
    visibility: hidden;
    width: 1200px;
}
.slide img {
    display: block;
    margin: 5px auto 0;
}
.ph {
    cursor: pointer;
}