
{% extends "CineminoSiteBundle::layout.html.twig" %}

{% block content %}

<form action="{{ path('mediaFilm_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
  
        <br>
        
       <button class="btn btn-primary" type="submit">Valider la création</button>
       <a class="btn" href="{{ path('mediaFilm') }}"><i class="icon-arrow-left"></i> Revenir a la liste</a>
       
</form>
<script>
 $("#idmedias").addClass("active");
 </script>
{% endblock content %}